
/*Styling af Merch "diasshow"*/
.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }

.slideshow-wrapper {
    overflow: hidden; /* Sørger for, at billedet ikke viser dele uden for containeren, når det zoomer */
    width: 100%; /* Justér bredden */
    height: auto; /* Tilpas højden afhængigt af billedets proportioner */
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: auto;
    width: 100%;
    padding: 10px 0;
}

.slideshow-wrapper img {
    width: 100%; /* Sørger for, at billedet fylder hele containeren */
    height: auto;
    transition: transform 0.3s ease-in-out; /* Gør det muligt at animere transformationen glidende */
}

.slideshow-wrapper img:hover {
    transform: scale(1.1); /* Forstørrer billedet med 10% */
}

.slide {
    scroll-snap-align: center;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /*mangler at font:
    font-family: ;
    color: ; */
}

  
.slide img {
    max-width: 90%; /* Tilpas billedets størrelse */
    height: auto;
    cursor: pointer;
}
  
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

section.slideshow-container {
    display: flex;
    align-items: center;
}
  
button:hover {
    background-color: #dd6d46;
    color: white;
}
  
  /* For at skjule scrollbar */
.slideshow-wrapper::-webkit-scrollbar {
    display: none;
}

#slide1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#slide2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#slide3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#slide4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#slide5{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


#slide6{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


article.slideshow-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

