* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
#front-logo {
    height: 50px;
    width: 50px;
}

.icons {
    height: 50px;
}

.beerimg {
    height: 50px;
}

#footerimg {
    width: 100%;
}

#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footerikoner{
    width: 4em;
    margin-right: 2rem;
}