* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
#front-logo {
    height: 10rem;
    width: auto;
    margin: 3rem;
    position: fixed;
}

nav, nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav {
    background: linear-gradient(#acacac, transparent);
    height: 200px;
    width: 1920px;
    position: fixed;
}

#nav-links li {
    margin: 3rem 10rem;
    font-family: 'zen maru gothic';
}

#nav-links li:first-child {
    margin-left: 25rem;
}

#nav-links {
    position: fixed;
}

#nav-links li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.8rem;
}

#nav-icons {
    position: fixed;
    right: 0;
}

#nav-icons li {
    margin: 3rem 1rem;
    
}

#showBasket {
    background-color: transparent;
    border: none;
}

#basketicon {
    margin-right: 3rem !important;
}

.icons {
    height: 50px;
    position: fixed;
    right: 0;
    margin-right: 3rem;
}

.loopMargin {
    margin-right: 10rem;
    margin-top: 0.8rem;
}

.cartHide {
    display: none;
}

.cartShow {
    display: flex;
    flex-direction: column;
}

#cart-body {
    width: 23rem;
    height: 37rem;
    position: fixed;
    right: 0;
    margin-top: 5rem;
    background-color: #ff0000;
    border-radius: 10px;
    padding: 1%;
    overflow: scroll;
}

.kurvflex {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.cart-title {
    margin: 0.5rem;
    font-size: 1.2rem;
    align-self: end;
}

.talfelt {
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    align-self: end;
}

.beerimg {
    height: 6rem;
}


/* Footer */
#footerimg {
    width: 100%;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2em;
}

.footerikoner {
    width: 4em;
    gap: 2em;
}

.text-footer {
    font-size: 1.5rem;
}

.text-footer-middle {
    font-size: 1.5rem;
    font-family: 'Arial Black';
}

.bold {
    font-weight: bold;
    font-size: 1.55rem;
}

.logo-footer img {
    width: 70px;
    height: auto; /* for at bevare proportionerne */
}

.social-ikoner {
    display: flex; /* Gør sektionen til en flex-container */
    gap: 1rem; /* Tilføj mellemrum mellem ikonerne */
    align-items: center; /* Juster ikonerne vertikalt, hvis nødvendigt */
}