main {
    padding-top: 5rem;
}

body {
    background-color: #F5F1EC; 
    color: black;
    font-family: 'Zen Maru Gothic';
}

/* First container - "Hvem er vi?" */
.hvem-container {
    display: flex;
    position: relative;
    align-items: center;
    width: 90rem;
    height: 25rem;
    background-color: #F4B65A;
    border-radius: 10px;
    margin: auto; 
    margin-left: 15rem;
    top: 18rem;
}

/* Pilsner image - Øl */
.pilsner-image {
    max-width: 100%; 
    position: absolute;
    left: -5rem; 
    top: 50%;
    transform: translateY(-50%); 
    width: 400px; 
}

/* Tekst box */
.hvem-box {
    max-width: 60rem; 
    margin-left: 24rem;
}

.hvem-box h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family:'Arial Black' ;
}

.hvem-box p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    line-height: 2; 
}

/* Second container - "Sammenhold er vigtigere end alkohol" */
.sammenhold-container {
    display: flex;
    position: relative;
    align-items: center;
    width: 90rem;
    height: 25rem;
    background-color: #F0E2AB;
    border-radius: 10px;
    margin: auto; 
    margin-left: 15rem;
    margin-top: 40rem;
    
}

/* Hyldeblomst image - Øl */
.hyldeblomst-image {
    max-width: 100%; 
    position: absolute;
    right: -5rem; 
    top: 50%;
    transform: translateY(-50%); 
    width: 400px; 
}

/* Tekst box */
.sammenhold-box {
    max-width: 60rem; 
    margin-left: 9rem;
}

.sammenhold-box h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family:'Arial Black' ;
}

.sammenhold-box p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    line-height: 2; 
}

/* Third container - "Støtte til alkolinjen" */
.stoette-container {
    display: flex;
    position: relative;
    align-items: center;
    width: 90rem;
    height: 25rem;
    background-color: #D5A787;
    border-radius: 10px;
    margin: auto; 
    margin-left: 15rem;
    margin-top: 22rem;
}

/* Brown-ale - Øl */
.brown-ale-image {
    max-width: 100%; 
    position: absolute;
    left: -5rem; 
    top: 50%;
    transform: translateY(-50%); 
    width: 400px; 
}

/* Tekst box */
.stoette-box {
    max-width: 60rem; 
    margin-left: 24rem;
}

.stoette-box h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family:'Arial Black' ;
}

.stoette-box p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    line-height: 2; 
}

/* Støtte knap til alkolinjen */
.stoette-btn {
    display: inline-block;
    background-color: #A55A20; 
    color: #FF9520;
    padding: 10px 30px;
    padding-top: 7px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: bold;
}

.stoette-btn:hover {
    background-color: #FF9520; 
    transform: scale(1.05);
    color: #A55A20;
    cursor: pointer;
}

/* Infographic - Ølbrygning */
.oelbrygning {
    margin-top: 25rem;
   width: 100%;
}
