
body {
    background-color: #F5F1EC; /* Baggrundsfarve */
    color: black; /* Skrifttype */
    font-family: 'Zen Maru Gothic';
}

h1 {
    font-size: 2em;
    margin-left: 10em;
    margin-bottom: 1em;
    padding-top: 5em;
    font-family: 'Arial Black' ;
}

.product-site {
    display: flex;
    gap: 20px; /* Afstand mellem filter og produkter */
    justify-content: flex-start;
    margin-right: 2em;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 kolonner */
    gap: 3em;
    margin-right: 2em;
}

.etikette-img {
    width: 100%;
    height: auto; /* Bevarer proportionerne */
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 9em;
    margin-top: 1em;
}

.description {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}

.top-row {
    display: flex;
    justify-content: space-between;
}

.basket {
    width: 40px;
    height: auto; /* Bevarer proportionerne */
}

.add-to-cart {
    width: 40px;
    background-color: #e8e3dd;
    border-radius: 8px;
    border-style: none;
}

.image-container {
    position: relative;
    display: inline-block;
}

.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Start med at være usynlig */
    transition: opacity 0.3s ease; /* Gør overgangen glidende */
    width: 100%;
}

.image-container:hover .hover-img {
    opacity: 1; /* Bliv synlig ved hover */
}

.add-to-cart:active {
    background-color: #7d631a65;
}

.quiz {
    width: 100%;  /* Sætter bredden til 50% af dens oprindelige størrelse */
    height: auto;  /* Bevarer billedets proportioner */
}

.quiz-center {
    padding-left: 6em;
    padding-right: 6em;
    padding-top: 12em;
    padding-bottom: 7em;
}