
body {
    background-color: #F5F1EC; /* Baggrundsfarve */
    color: black; /* Skrifttype */
    font-family: 'Zen Maru Gothic';
}

h1 {
    font-size: 2em;
    margin-left: 10em;
    margin-bottom: 1em;
    padding-top: 5em;
    font-family: 'Arial Black' ;
}

.product-site {
    display: flex;
    gap: 20px; /* Afstand mellem filter og produkter */
    justify-content: flex-start;
    margin-right: 2em;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 kolonner */
    gap: 3em;
    margin-right: 2em;
}

.etikette-img {
    width: 100%;
    height: auto; /* Bevarer proportionerne */
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 9em;
    margin-top: 1em;
}

.description {
    display: flex;
    flex-direction: column;
}

.top-row {
    display: flex;
    justify-content: space-between;
}

.basket {
    width: 30px;
    height: auto; /* Bevarer proportionerne */
}

